/* Variables */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #c2d6d6;
}

.map-section {
  width: 100%;
  max-width: 1000px;
}

.map-section #map {
  width: 100%;
  height: 545px;
}

.heading {
  position: relative;
  text-align: center;
}

.heading h1 {
  font-family: "Days One", sans-serif;
  font-style: italic;
  font-size: 3rem;
  margin: 1.5rem 0;
  text-transform: uppercase;
  color: #c2d6d6;
  text-shadow: 0 -2px #fff, 2px 0 #fff, 0 2px #fff, -2px 0 #fff;
}

.search-box {
  font-family: "Rock Salt", cursive;
  width: 100%;
  height: 100%;
  min-height: 250px;
  color: #fff;
  background-color: rgba(51, 77, 77, 0.9);
}

.search-box .search-results {
  width: 75%;
  margin: 2rem auto;
  text-align: center;
}

.search-box .search-results li {
  display: inline-block;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.search-box .search-results li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-box h3 {
  margin-top: 0;
  padding-top: 1.5rem;
  text-align: center;
  font-size: 2.5rem;
}

.search-box input {
  margin: 0 auto;
  padding-left: 0.5rem;
  display: block;
}

/* Helper Rules */
/************
MEDIA QUERIES
 ***********/
@media only screen and (min-width: 768px) {
  .heading {
    height: 100px;
    position: relative;
  }
  .heading h1 {
    font-size: 6rem;
    margin: 0;
  }
  .heading .aux {
    display: inline-block;
    position: absolute;
    top: 490px;
    left: -60px;
  }
  .heading .burg {
    position: absolute;
    left: 115px;
  }
  .map-section {
    width: 80%;
  }
  .map-section #map {
    margin-left: 120px;
    margin-top: 20px;
  }
  .search-box {
    position: absolute;
    width: 20%;
    height: 100vh;
    top: 0;
    right: 0;
  }
  /* Helper Rules */
  .rotate {
    transform: rotate(-90deg);
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1274px) {
  .map-section #map {
    max-width: 800px;
  }
}
